.app-div {
    height: 100%;
    margin: 0px;
    text-align: center;
    }

    .fullscreen-img {
        position: absolute;
        top: 20px; /* Adjust top position as needed */
        left: 20px; /* Adjust right position as needed */
        width: 30px; /* Adjust width as needed */
        height: 30px; /* Adjust height as needed */
        cursor: pointer;
        z-index: 1000; /* Ensure the image is above other elements */
      }